/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
  background: #3167a1;
  color: #fff;
}

.home {
  height: 100vh;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo-text {
  background: -webkit-linear-gradient(#24aae0, #4d87be, #0e0a4e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.category {
  height: auto;
}

.icon {
  height: inherit;
}

.icon-img {
  display: block;
  object-fit: fill;
  width: 100px;
  height: 100px;
}

.new-btn {
  display: block;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

footer,
.home-actions {
  background: #61b526;
}
